
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fade-up {
  0%   { opacity: 0; transform: translate3d(0,3em,0) }
  100% { opacity: 1; transform: translate3d(0,0,0) }
}

@keyframes fade-right {
  0%   { opacity: 0; transform: translate3d(3em,0,0)  }
  100% { opacity: 1; transform: translate3d(0,0,0) }
}

@keyframes fade-left {
  0%   { opacity: 0; transform: translate3d(-2em,0,0)  }
  100% { opacity: 1; transform: translate3d(0,0,0) }
}

@keyframes slide-down {
  0%   { opacity: 0; transform: translate3d(0,-110%,0); }
  100% {  opacity: 1; transform: translate3d(0,0,0);  }
}

@keyframes slide-up {
  from { transform: translate3d(0, 150%, 0); }
  to { transform: translate3d(0, 0%, 0); }
}

@keyframes scale-down {
  0%   { transform: scale(1.5); }
  100% { transform: scale(1); }
}

@keyframes scale-in {
  0%   { opaccity: 0; transform: scale(0.93); }
  100% { opaccity: 1; transform: scale(1); }
}

@keyframes spin {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-out {
  animation: fade-out 1.5s ease both;
}

.scale-out {
  animation: scale-out 1.5s ease both;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

// @keyframes snow_f {
//   0% {
//     transform: translate3d(0,0,0);
//   }
//   50% { transform: translate3d(0px,500px,0)}
// 100% { transform: translate3d(110px,1000px,0) }
// }
