<section class="browser-notice">
  <article class="browser-notice__box">
    <div>
      <div class="browser-notice__deer-wrap">
        {{> svgs/dead-deer.svg}}
      </div>
      <h2 class="browser-notice__title">Oh Deer</h2>
      <p class="browser-notice__text">You're using a browser that doesn't support the Audio API very well, so you'll miss out on all the fun stuff. How about stepping up to a merrier browser like Chrome?</p>

      <div class="btns">
        <a class="btn-mono" href="https://www.google.com/chrome/" target="_blank">Go Get Chrome</a>
        <a id="js-close-browser-notice" class="btn-mono btn-im-cool">I'm Cool</a>
      </div>
    </div>
  </article>
</section>
