<section class="browser-notice is-country">
  <article class="browser-notice__box">
    <div>
      <div class="browser-notice__deer-wrap">
        {{> svgs/dead-deer.svg}}
      </div>
      <h2 class="browser-notice__title">Oh Deer</h2>
      <p class="browser-notice__text">Looks like you're not located in the United States and our music licensing is for the US only. But, thanks for stopping by. </p>

      <div class="btns">
        <a class="btn-mono" href="https://www.greenrubino.com/" target="_blank">Check out GreenRubino</a>
      </div>
    </div>
  </article>
</section>
