<header class="app-header">
  <div class="grid-xl">
    <div class="app-header__grid">
    <a class="app-header__logo" href="/">{{> svgs/gr-icon.svg}}</a>

    <button class="app-header__toggle js-menu-toggle" arial-label="Menu" data-scene="scene-share">
      <span class="app-header__toggle-text">share</span>
    </button>
  </div>
</header>
