<section class="player">
  <audio
    id="js-audio"
    class="js-audio"
    crossorigin="anonymous"
    controls>
    <source src="" type="audio/mp3">
  </audio>
</section>

<section class="equalizer">
  <div class="bar" id="bar-1"></div>
  <div class="bar" id="bar-2"></div>
  <div class="bar" id="bar-3"></div>
  <div class="bar" id="bar-4"></div>
  <div class="bar" id="bar-5"></div>
  <div class="bar" id="bar-6"></div>
  <div class="bar" id="bar-7"></div>
  <div class="bar" id="bar-8"></div>
  <div class="bar" id="bar-9"></div>
  <div class="bar" id="bar-10"></div>
  <div class="bar" id="bar-11"></div>
  <div class="bar" id="bar-12"></div>
  <div class="bar" id="bar-13"></div>
  <div class="bar" id="bar-14"></div>
  <div class="bar" id="bar-15"></div>
  <div class="bar" id="bar-16"></div>
  <div class="bar" id="bar-17"></div>
  <div class="bar" id="bar-18"></div>
  <div class="bar" id="bar-19"></div>
  <div class="bar" id="bar-20"></div>
  <div class="bar" id="bar-21"></div>
  <div class="bar" id="bar-22"></div>
  <div class="bar" id="bar-23"></div>
  <div class="bar" id="bar-24"></div>
  <div class="bar" id="bar-25"></div>
  <div class="bar" id="bar-26"></div>
  <div class="bar" id="bar-27"></div>
  <div class="bar" id="bar-28"></div>
  <div class="bar" id="bar-29"></div>
  <div class="bar" id="bar-30"></div>
  <div class="bar" id="bar-31"></div>
  <div class="bar" id="bar-32"></div>
  <div class="bar" id="bar-33"></div>
  <div class="bar" id="bar-34"></div>
  <div class="bar" id="bar-35"></div>
  <div class="bar" id="bar-36"></div>
  <div class="bar" id="bar-37"></div>
  <div class="bar" id="bar-38"></div>
  <div class="bar" id="bar-39"></div>
  <div class="bar" id="bar-40"></div>
  <div class="bar" id="bar-41"></div>
  <div class="bar" id="bar-42"></div>
  <div class="bar" id="bar-43"></div>
  <div class="bar" id="bar-44"></div>
  <div class="bar" id="bar-45"></div>
  <div class="bar" id="bar-46"></div>
  <div class="bar" id="bar-47"></div>
  <div class="bar" id="bar-48"></div>
  <div class="bar" id="bar-49"></div>
  <div class="bar" id="bar-50"></div>
  <div class="bar" id="bar-51"></div>
  <div class="bar" id="bar-52"></div>
  <div class="bar" id="bar-53"></div>
  <div class="bar" id="bar-54"></div>
  <div class="bar" id="bar-55"></div>
  <div class="bar" id="bar-56"></div>
  <div class="bar" id="bar-57"></div>
  <div class="bar" id="bar-58"></div>
  <div class="bar" id="bar-59"></div>
  <div class="bar" id="bar-60"></div>
  <div class="bar" id="bar-61"></div>
  <div class="bar" id="bar-62"></div>
  <div class="bar" id="bar-63"></div>
  <div class="bar" id="bar-64"></div>
  <div class="bar" id="bar-65"></div>
  <div class="bar" id="bar-66"></div>
  <div class="bar" id="bar-67"></div>
  <div class="bar" id="bar-68"></div>
  <div class="bar" id="bar-69"></div>
  <div class="bar" id="bar-70"></div>
  <div class="bar" id="bar-71"></div>
  <div class="bar" id="bar-72"></div>
  <div class="bar" id="bar-73"></div>
  <div class="bar" id="bar-74"></div>
  <div class="bar" id="bar-75"></div>
  <div class="bar" id="bar-76"></div>
  <div class="bar" id="bar-77"></div>
  <div class="bar" id="bar-78"></div>
  <div class="bar" id="bar-79"></div>
  <div class="bar" id="bar-80"></div>
  <div class="bar" id="bar-81"></div>
  <div class="bar" id="bar-82"></div>
  <div class="bar" id="bar-83"></div>
  <div class="bar" id="bar-84"></div>
  <div class="bar" id="bar-85"></div>
  <div class="bar" id="bar-86"></div>
  <div class="bar" id="bar-87"></div>
  <div class="bar" id="bar-88"></div>
  <div class="bar" id="bar-89"></div>
  <div class="bar" id="bar-90"></div>
  <div class="bar" id="bar-91"></div>
  <div class="bar" id="bar-92"></div>
  <div class="bar" id="bar-93"></div>
  <div class="bar" id="bar-94"></div>
  <div class="bar" id="bar-95"></div>
  <div class="bar" id="bar-96"></div>
  <div class="bar" id="bar-97"></div>
  <div class="bar" id="bar-98"></div>
  <div class="bar" id="bar-99"></div>
  <div class="bar" id="bar-100"></div>
  <!-- <div class="bar" id="bar-101"></div>
  <div class="bar" id="bar-102"></div>
  <div class="bar" id="bar-103"></div>
  <div class="bar" id="bar-104"></div>
  <div class="bar" id="bar-105"></div>
  <div class="bar" id="bar-106"></div>
  <div class="bar" id="bar-107"></div>
  <div class="bar" id="bar-108"></div>
  <div class="bar" id="bar-109"></div>
  <div class="bar" id="bar-110"></div>
  <div class="bar" id="bar-111"></div>
  <div class="bar" id="bar-112"></div>
  <div class="bar" id="bar-113"></div>
  <div class="bar" id="bar-114"></div>
  <div class="bar" id="bar-115"></div>
  <div class="bar" id="bar-116"></div>
  <div class="bar" id="bar-117"></div>
  <div class="bar" id="bar-118"></div>
  <div class="bar" id="bar-119"></div>
  <div class="bar" id="bar-120"></div>
  <div class="bar" id="bar-121"></div>
  <div class="bar" id="bar-122"></div>
  <div class="bar" id="bar-123"></div>
  <div class="bar" id="bar-124"></div>
  <div class="bar" id="bar-125"></div>
  <div class="bar" id="bar-126"></div>
  <div class="bar" id="bar-127"></div> -->
</div>
</section>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="800">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"/>
      <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
    </filter>
  </defs>
</svg>
