<section id="scene-playlist" class="playlist">
  <header class="playlist__header">
    <div class="grid-lg">
      <h1 class="playlist__title">
        <span class="title-holiday">holiday</span>
        <span class="title-jammin">jammin</span>
      </h1>
    </div>
  </header>
  <section class="playlist__peeps">
    <div class="grid-lg">
      <div id="js-playlist-peeps" class="playlist__grid">
      </div>
    </div>
  </section>
{{> player}}
</section>
