<section class="snow">
  <span class="snow__item snow__gr js-snow-item-1">{{> svgs/gr-icon.svg}}</span>
  <span class="snow__item snow__smilez js-snow-item-2">{{> svgs/smilez.svg}}</span>
  <span class="snow__item snow__cheer js-snow-item-3">{{> svgs/cheer.svg}}</span>
  <span class="snow__item js-snow-flak js-snow-item-4">{{> svgs/snowflake.svg}}</span>
  <span class="snow__item snow__gr js-snow-item-5">{{> svgs/gr-icon.svg}}</span>
  <span class="snow__item snow__smilez js-snow-item-6">{{> svgs/smilez.svg}}</span>
  <span class="snow__item snow__cheer js-snow-item-7">{{> svgs/cheer.svg}}</span>
  <span class="snow__item snow__flake js-snow-item-8">{{> svgs/snowflake.svg}}</span>
  <span class="snow__item snow__gr js-snow-item-9">{{> svgs/gr-icon.svg}}</span>
  <span class="snow__item snow__smilez js-snow-item-10">{{> svgs/smilez.svg}}</span>
  <span class="snow__item snow__cheer js-snow-item-11">{{> svgs/cheer.svg}}</span>
  <span class="snow__item snow__flake js-snow-item-12">{{> svgs/snowflake.svg}}</span>
  <span class="snow__item snow__gr js-snow-item-13">{{> svgs/gr-icon.svg}}</span>
  <span class="snow__item snow__smilez js-snow-item-14">{{> svgs/smilez.svg}}</span>
  <span class="snow__item snow__cheer js-snow-item-15">{{> svgs/cheer.svg}}</span>
  <span class="snow__item snow__flake js-snow-item-16">{{> svgs/snowflake.svg}}</span>
  <span class="snow__item snow__gr js-snow-item-17">{{> svgs/gr-icon.svg}}</span>
  <span class="snow__item snow__smilez js-snow-item-18">{{> svgs/smilez.svg}}</span>
  <span class="snow__item snow__cheer js-snow-item-19">{{> svgs/cheer.svg}}</span>
  <span class="snow__item snow__flake js-snow-item-20">{{> svgs/snowflake.svg}}</span>
  <span class="snow__item snow__gr js-snow-item-21">{{> svgs/gr-icon.svg}}</span>
  <span class="snow__item snow__smilez js-snow-item-22">{{> svgs/smilez.svg}}</span>
  <span class="snow__item snow__cheer js-snow-item-23">{{> svgs/cheer.svg}}</span>
  <span class="snow__item snow__flake js-snow-item-24">{{> svgs/snowflake.svg}}</span>
  <span class="snow__item snow__gr js-snow-item-25">{{> svgs/gr-icon.svg}}</span>
  <span class="snow__item snow__smilez js-snow-item-26">{{> svgs/smilez.svg}}</span>
  <span class="snow__item snow__cheer js-snow-item-27">{{> svgs/cheer.svg}}</span>
  <span class="snow__item snow__flake js-snow-item-28">{{> svgs/snowflake.svg}}</span>
  <span class="snow__item snow__gr js-snow-item-29">{{> svgs/gr-icon.svg}}</span>
  <span class="snow__item snow__smilez js-snow-item-30">{{> svgs/smilez.svg}}</span>
  <span class="snow__item snow__cheer js-snow-item-21">{{> svgs/cheer.svg}}</span>
  <span class="snow__item snow__flake js-snow-item-32">{{> svgs/snowflake.svg}}</span>
  <span class="snow__item snow__gr js-snow-item-33">{{> svgs/gr-icon.svg}}</span>
  <span class="snow__item snow__smilez js-snow-item-34">{{> svgs/smilez.svg}}</span>
  <span class="snow__item snow__cheer js-snow-item-35">{{> svgs/cheer.svg}}</span>
  <span class="snow__item snow__flake js-snow-item-36">{{> svgs/snowflake.svg}}</span>
  <span class="snow__item snow__gr js-snow-item-37">{{> svgs/gr-icon.svg}}</span>
  <span class="snow__item snow__smilez js-snow-item-38">{{> svgs/smilez.svg}}</span>
  <span class="snow__item snow__cheer js-snow-item-39">{{> svgs/cheer.svg}}</span>
  <span class="snow__item snow__flake js-snow-item-40">{{> svgs/snowflake.svg}}</span>
  <span class="snow__item snow__gr js-snow-item-41">{{> svgs/gr-icon.svg}}</span>
  <span class="snow__item snow__smilez js-snow-item-42">{{> svgs/smilez.svg}}</span>
  <span class="snow__item snow__cheer js-snow-item-43">{{> svgs/cheer.svg}}</span>
  <span class="snow__item snow__flake js-snow-item-44">{{> svgs/snowflake.svg}}</span>
  <section class="snow-css"><div class="snow-kf"></div></section>
</section>
